@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	background: #E9F5D3;
}

.container{
	width:80%;
	max-width:800px;
	margin:20px auto;
	min-height:600px;
	background:white;
	border:2px solid #939292;
	padding:1em;
	box-sizing:border-box;
	border-radius:1em;
	padding:0;
}

header{
	width:100%;
	padding:1em 0;
	border-bottom: 2px solid #939292;
	background:#F8F4C5;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	position:relative;
}

h1{
	font-size:2em;
	color:#10865F;
	text-align:center;
	font-weight:lighter;
}

h2{
	font-size:1.3;
	color:#5D5D5D;
	text-align:center;
	font-weight:lighter;

}

.cerrar_sesion{
	position:absolute;
	top:5px;
	right:3px;
	border-top-right-radius:1em;
}

.cerrar_sesion a:link, .cerrar_sesion a:visited{
	font-size:0.8em;
	color:#6C6C6C;
	background:orange;
	padding:.5em 1.5em;
	text-decoration:none;
	color:#fff;
	border-top-right-radius:1em;
}

.cerrar_sesion a:hover{
	background:#DE9E2F;
}

nav.menu{
	width:100%;
}

nav.menu ul{
	list-style:none;
}

nav.menu ul li{
	float:left;
	width:25%;
}

nav.menu ul li a:link, nav.menu ul li a:visited{
	text-align:center;
	display:block;
	text-decoration:none;
	padding:0.5em 0;
	background: #7D7979;
	color:#fff;
	border-right:1px solid #fff;
}

nav.menu ul li a:hover{
	background:#5C5C5C;
}

footer{
	width:80%;
	max-width:800px;
	margin:0 auto;
	text-align:center;
	font-size:0.9em;
	text-align:right;
	color:#2E53BF;
}